body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    line-height: 1.6;
    
}

.background{
    background-image: url(../imges/beachshowcase.jpeg);
    background-size: cover;
    background-position:center;
    height:100vh;
    padding: 0 20px;
    text-align: center;
    color: #926239;
    margin: 0;
}

.header{
    margin:0px;
    font-size: 50px;
    text-transform: capitalize;
}
.description{
    margin: 0;
    font-size: 20px;
}
.button{
    display: inline;
    font-size: 18px;
    margin-top: 20px;
    color: #926239;
    border-color: #926239;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    background: transparent;
}
.information p {
    font-size: 17px;
    height:100%;
    margin: 0px;
    padding: 20px 20px;
    text-align: center;
}
.orange{
    background-color: #926239;
    color: #FFFFFF;   
}
.white{
    background-color: #F4F4F4;
    color: #926239;
}
.footer p {
    display: inline-block;
    height: 100%;
    width: 520px;
    margin: 0px;
    padding: 20px;
    font-size: 17px;
    text-align: left;
}
.description1{
    background-color: #926239;
    color:#FFFFFF;
}
.description2{
    background-color: #F4F4F4;
    color:#926239;
}
.description3{
    background-color: #926239;
    color:#FFFFFF;
}


